<div class="container-siembra">
  <h2>Registro de Cosecha</h2>
  <div class="formulario">
    <form [formGroup]="formSiembra" class="form">
      <div class="container-input">
        <label for="">Fecha de Cosecha:</label>
        <input type="date" name="Fecha" formControlName="Fecha" />
      </div>
      <div class="container-input">
        <label for="">Rendimiento del Cultivo (kg):</label>
        <input type="text" name="Rendimiento" formControlName="Rendimiento" />
      </div>
      <div class="container-input">
        <label for="">Calidad de la Cosecha:</label>

        <select name="Calidad" formControlName="Calidad">
          <option value="Excelente">Excelente</option>
          <option value="Buena">Buena</option>
          <option value="Regular">Regular</option>
          <option value="Mala">Mala</option>
        </select>
      </div>

      <button type="submit" *ngIf="!datoEdit" (click)="guardar()">
        Registrar Cosecha
      </button>
      <div>
        <button class="editar" *ngIf="datoEdit" (click)="editarCampo()">
          Editar Cosecha
        </button>
      </div>
    </form>
  </div>
  <div class="content">
    <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
    <ag-grid-angular
      class="ag-theme-quartz"
      style="width: 100%; height: 300px"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaulColDef"
      (gridReady)="onGridReady($event)"
      (selectionChanged)="onSelectionChanged($event)"
      [rowSelection]="rowSelection"
    >
    </ag-grid-angular>
  </div>
</div>
