<div class="container">
  <div class="nav">
    <h1>Gestión Agrícola</h1>
    <div class="botones">
      <p (click)="cambioComponente('siembra')">Registro de Siembra</p>
      <p (click)="cambioComponente('cosecha')">Registro de Cosecha</p>
    </div>
  </div>
  <div class="container-forms">
    <app-registro-siembra
      *ngIf="tipoPantalla === 'siembra'"
    ></app-registro-siembra>
    <app-registro-cosecha
      *ngIf="tipoPantalla === 'cosecha'"
    ></app-registro-cosecha>
  </div>
  <footer class="footer">
    <p>&copy; 2024 Gestión Agrícola</p>
  </footer>
</div>
